[Desktop Entry]
Type=Application
TryExec=work-break
Exec=work-break
Icon=work-break
Terminal=false
Categories=Utility;

Name=Work-break
GenericName=Time tracker
Comment=Work and rest time balancer taking into account your current and today strain
StartupNotify=false
StartupWMClass=Work-break
